{% extends 'base.html' %}

{% load staticfiles %}

<!-- title -->

{% block title %} 

{{block.super}} - Lab Test Request

{% endblock %}

<!-- links -->

{% block links %} 

	<link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />

{% endblock%}

<!-- main -->

{% block main %} 


<h1> Lab Test Request </h1>

<h2> Patient: {{patient.first_name}} {{patient.last_name}}</h2>


<!-- Error displayed if no lab tests are selected -->
<div class="form-group has-errors text-danger medium">
	{{no_tests_error}}
</div>	

<div class="text-primary small">
	<span> 
		note: you can add one <strong>or several </strong> tests without reloading the page <br>
		by searching and clicking the add test button 

	</span>
</div>

<div style="width:50%">

	<form action="{% url 'coreapp:lab-test-request' patient_id=patient.id %}" method="post">
		
		{%csrf_token%}


		{% for field in form %}

		    <div class="form-group has-errors text-danger small">
		    	
		        {{field.errors}}
		    </div>

		    <div class="form-group">
		    	
		         
		        {{field.label_tag}}
		        {{field}}

		    </div>

		    {% endfor %}
		    

		<!-- lab test input field -->

		<p class="add-group"><label for="id_test">Search Lab Test:</label> <input id="id_test" name="name" type="text" /></p>

		<div class="input_fields_wrap">
	    	
	    	<a class="add_field_button btn btn-primary">Add Test</a>

	    	<h3> selected test(s): </h3>

		</div>

		    <button class="btn btn-primary space-around-md text-center" style="width:70%">Send Request</button>

	</form>
</div>

<!-- scripts -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

<script src="{% static 'js/main.js' %}"></script>


{% endblock %}