{% extends 'base.html'%}

{% block title %} 

{{block.super}} - Request Submitted

{% endblock %}


{% block main %} 

<h1> Lab Request Submitted! </h1>

<p><a class="btn btn-primary space-around-sm" role="button" href="{%url 'coreapp:lab-test-request' patient_id=patient.id%}">make new lab request for {{patient.first_name }} {{patient.last_name}} </a>  </p>

<p><a class="btn btn-primary space-around-sm" role="button" href="{%url 'coreapp:lab-request-list'%}">View submitted lab requests</a></p>

{% endblock %}