
{% extends 'base.html'%}

{% block title %} 

{{block.super}} - Lab Request 

{% endblock %}


{% block main %} 


<h1> LAB REQUEST </h1>

<div class="table-responsive">
	<table class="table table-hover">
		<th>PATIENT</th>
		<th>DATE</th>
		<th>TEST(S)</th>

		<tr>
			<td>{{request.patient}}</td>
			<td>{{request.date}}</td>
			<td>
				<ol>
					{% for test in labtests %}
						
						<li> {{test.name}} </li>
					
					{% endfor %}	
		 		</ol> 
			</td>
		</tr>

	</table>

</div>

{% if request.labresult%}

<p><a class="btn btn-primary space-around-sm"  href="{%url 'coreapp:lab-test-result' result_id=request.labresult.id%}">View Results for this test</a></p>

{%else%}

<p> No Results aviailable for this test </p>

{% endif%}


{% endblock %}

