{% extends 'base.html' %}

{% block title %} 

{{block.super}} - login

{% endblock %}

{% block main %} 

<!-- <h1> Login to E-Lab </h1>

{% if errors %} 

<strong> Invalid login details! </strong>

{% endif %} -->

<!-- <form method="post" action="{% url 'login' %}"> 
	 {% csrf_token %}

	 username: <input type="text" name="username" value="" size="50"> <br>
	 password: <input type="password" name="password" value="" size="50"> <br>

	 <input type="submit" value="submit" >

</form>
 -->

<div class="container">
            
            <h1> Login to E-Lab </h1>

			{% if errors %} 

            <div class="form-group has-errors text-danger small">
                    
			<strong> Invalid login details! </strong>

			</div>
			{% endif %}

            <div style="width:30%">
                <form method='post' action="{% url 'login' %}">
                    
                    {%csrf_token%}
                    
                    <div class="form-group">
                        username: <input type="text" name="username" value="" size="50"> <br><br>
	 					password: <input type="password" name="password" value="" size="50"> <br><br>
                    </div>
                  
                    <button class="btn btn-primary" style="width:100%">Login</button>
            
            </form>
     </div>
</div>     


{% endblock %}