{% extends 'base.html' %}

{% block title %} 

{{block.super}} - Patient Registration

{% endblock %}

{% block main %} 

<h1> Patient Registration </h1>

<form action="{% url 'coreapp:patient-registration' %}" method="post">
	
		{%csrf_token%}
		{% for field in form %}
	    <div class="form-group has-errors text-danger small">
	        {{field.errors}}
	    </div>

	    <div class="form-group">
	    	
	         
	        {{field.label_tag}}
	        {{field}}
	        {% if field.help_text%}
	        <span class="helptext text-primary medium"> 
	        	{{field.help_text}}
	        </span>
	        {%endif%}	

	    </div>

	    {% endfor %}
	    
	    <button class="btn btn-primary" style="width:40%">register</button>

</form>

{% endblock %}